.thumb
{
    display:flex;
    flex-direction: column;
    width: 33%;
    height: 200px;
    background-color:  WhiteSmoke;
    border: 1px solid black;
    font-size: 14px;

}
.img-div
{
    
}
.img-div img
{
    width: 200px;
}
 
