.Button {
    min-width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    margin: 6px;
    padding: 5px 10px;
    font-size: 1.8rem;
    transition: all 0.3s ease;

    &:disabled {
        background-color: grey;
        color: white;
    }

    &:focus {outline: none}
    &:hover:not([disabled]) , &:active:not([disabled]) {
            transform: scale(1.04);
    }

    &__black {
        background-color: black;
        color: white;
    }

    &__white {
        background-color: white;
        color: black;
    }

}