.Button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    margin: 6px;
    font-size: 1.8rem;
    transition: all 0.3s ease;

    &:focus {outline: none}
    &:hover , &:active {
        transform: scale(1.04);
    }

    &__black {
        background-color: black;
        color: white;
    }

    &__white {
        background-color: white;
        color: black;
    }

    &__circle {
        width: 40px;
        border-radius: 50%;
    }
}