.Modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(black, 0.8);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    text-align: right;

    &__content {
        background-color: white;
        border: 2px solid grey;
        border-radius: 7px;
        margin: 15% auto;
        width: 500px;
        z-index: 100;
        position: relative;

        &--header, &--body, &--actions {
            padding: 20px;
        }

        &--actions {
            text-align: left;
        }
    }

}