.Modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(black, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    text-align: right;

    &__content {
        background-color: white;
        border: 2px solid grey;
        border-radius: 7px;
        margin: 15% auto;
        width: 500px;

        &--header, &--body, &--actions {
            padding: 20px;
        }

        &--header {
            border-bottom: 2px solid grey;
        }

        &--actions {
            border-top: 2px solid grey;
            text-align: left;
        }
    }
}