.Modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(black, 0.8);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;

    &__overlay {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        right: 0;
    }

    &__content {
        opacity: 0;
        background-color: white;
        border-radius: 25px;
        margin:10% auto;
        display: inline-block;
        animation: fadeIn .6s .2s forwards ease-out;

        &--header, &--body, &--actions {
            padding: 10px;
        }
    }

}